<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|svg)$">
    Header set Cache-Control "max-age=290304000, public"
</FilesMatch>

Options -Indexes

RewriteEngine On
# Rewrite domain
RewriteCond	%{HTTP_HOST}	!^bearonunicycle.com$
RewriteRule	^(.*)$	http://bearonunicycle.com/$1 [R=301,L]
# Rewrite hackery
RewriteRule	.*\.git/.* - [F]