<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|svg)$">
    Header set Cache-Control "max-age=290304000, public"
</FilesMatch>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript application/json image/svg+xml
</IfModule>

Options -Indexes

RewriteEngine On

# Rewrite domain.
RewriteCond	%{HTTP_HOST}	!^bearonunicycle.com$
RewriteRule	^(.*)$	https://bearonunicycle.com/$1 [R=301,L]

# Rewrite hackery.
RewriteRule	.*\.git/.* - [F]